<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT"
        class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p %C{0} - %m%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.eclipse.leshan" level="INFO" />
    <logger
        name="org.eclipse.leshan.core.californium.LwM2mCoapResource"
        level="DEBUG" />
    <logger
        name="org.eclipse.leshan.server.security.SecurityCheck"
        level="DEBUG" />
    <logger
        name="org.eclipse.leshan.server.bootstrap.DefaultBootstrapHandler"
        level="DEBUG" />
    <logger name="org.eclipse.leshan.core.model.LwM2mModel"
        level="DEBUG" />
</configuration>